/* MenuPage.css */
.menu-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #f8f8f8;
  }
  
  .food-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display three items in a row */
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
  }
  
  .food-list h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .food-list ul {
    list-style: none;
    padding: 0;
  }
  
  .food-list li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .food-image {
    flex: 1;
    min-width: 150px; /* Adjust as needed */
  }
  
  .food-image img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  
  .food-list h3 {
    margin: 0;
  }
  
  .food-list p {
    margin: 5px 0;
  }
  
  .food-list span {
    font-weight: bold;
  }
  
  .food-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px; /* Add some space between food items */
  }
  .food-card h3 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .food-card p {
    margin: 0;
    margin-bottom: 10px;
  }
  .food-card span {
    font-weight: bold;
  }    